* {
  margin: 10px;
  padding: 3px;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(63, 94, 251);
  /* background-image: url(./image/music.jpeg); */
  background: rgb(4, 13, 57);
  background: linear-gradient(
    100deg,
    rgba(4, 13, 57, 1) 0%,
    rgba(78, 7, 28, 1) 100%
  );
}

#homebutton:hover {
  position: relative;
  text-align: center;
  width: 100px;
  padding: 20px;
  color: blanchedalmond;
  font-family: "Franklin Gothic Medium";
  border: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#albumsbutton:hover {
  position: relative;
  text-align: center;
  width: 100px;
  padding: 20px;
  color: blanchedalmond;
  font-family: "Franklin Gothic Medium";
  border: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.biotext {
  color: blanchedalmond;
}
h3 {
  color: blanchedalmond;
}

.albumtext {
  display: flex;
  flex-wrap: wrap;
  color: blanchedalmond;
}

img {
  display: flex;
  margin: 15px;
  padding: 15px;
  justify-content: center;
}

li {
  color: blanchedalmond;
}
